//Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";

//AdminLTE Core
@import "~admin-lte/dist/css/adminlte.min.css";

//Fontawesome 5.15.3
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
